name: Check

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - '**.md'

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Initialization
        uses: ./.github/actions/init
        with:
          jdk: 17

      - name: Build
        uses: gradle/gradle-build-action@v2.8.0
        with:
          arguments: build -x test

      - name: Test
        uses: gradle/gradle-build-action@v2.8.0
        with:
          arguments: test
